// _global.scss

$font-stack: Helvetica, sans-serif;
$primary-color: #389d52;
$secondary-color: #2a773e;
$font-color: #333;
$forange: #e7503c;
$fyellow: #cfb836;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@import 'reset';
@import 'template';
@import 'typography';

body {
	font: 100% $font-stack;
	color: $font-color;
}