// _typography.scss

#sidebar .custom h3 {
	margin-top: 10px;
}

p {
	font-size: 11pt;
}

a,a:visited {
	color: #primary-color;
	text-decoration: none;
}
a:hover {
	color: $forange;
}

label {
	font-size: 10pt;
}

/* Class Styles */

/** COLORS **/
.red { color: $red; }